.login-container {
    width: 70%;
    padding: 50px;
    background-color: white;
    box-shadow: 5px 10px #888888;
    margin: 20px 0px;
}

.login-container_button:hover {
    background-color: white;
  }

.login-container_button {
    background-color: #fa8074;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
    border-width: 0px;
}

.login-container_form {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

header {
    background-color: #EAC926;
    width: 100%;
}

.navbar-links {
    padding: 0px;
    margin: 0px;
}

.navbar {
    width: 100%;
    text-align: left;
    display: none;
}

.navbar-links {
    list-style: none;
    font-size: 12px;
    text-align: left;
}

main {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.burger-menu {
    text-align: center;
}

.header-buy {
    text-align: center;
}

.home-banner {
    width: 100%;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.footer-main {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.footer-item {
    width: 80%;
    text-align: center;
}

.blue-item {
    color: #03264C;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 12px;
}   

h2 {
    font-size: 24px;
}

.upper-header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.upper-header_buy {
    text-align: center;
}

.upper-header_logo {
    width: 40%;
    height: auto;
}

.upper-header_search {
    width: 50%;
    height: auto;
}

.searchbar {
    width: 80%;
    height: auto;
}


@media (min-width: 576px) {

    p {
        font-size: 18px;
    }   

    .product-container_item {
        width: 40%;
    }

}

@media (min-width: 768px) {

    .navbar {
        width: 95%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .upper-header_logo {
        width: 30%;
        height: auto;
    }

    .burger-menu {
        text-align: center;
        display: none;
    }

    p {
        font-size: 18px;
    }   

    .footer-item {
        width: 30%;
        text-align: center;
    }
}

@media (min-width: 992px) {

    .upper-header_logo {
        width: 20%;
        height: auto;
    }

    .product-container_item {
        width: 22%;
    }

    .login-container {
        width: 50%;
    }

}

@media (min-width: 1200px) {

    .login-container {
        width: 30%;
    }

}

@media (min-width: 1400px) {}