body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

header {
    background-color: #EAC926;
    width: 100%;
}

.navbar-links {
    padding: 0px;
    margin: 0px;
}

.navbar {
    width: 100%;
    text-align: left;
    display: none;
}

.navbar-links {
    list-style: none;
    font-size: 12px;
    text-align: left;
}

main {
    padding-bottom: 30px;
    background-color: #efefef;
}

.main-container {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.burger-menu {
    text-align: center;
    padding-bottom: 10px;
}

.burger-menu i{
    border-radius: 5px;
    color: white;
    background-color: #1259c3;
    padding: 16px 7px;
    cursor: pointer;
    text-align: center;
}

.header-buy {
    text-align: center;
}

.home-banner {
    width: 100%;
}

.precio {
    width: 60%;
}

.descuentos {
    font-size: 14px;
    width: 40%;
}

.descripcion {
    font-size: 16px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.footer-main {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.footer-item {
    width: 80%;
    text-align: center;
}

.blue-item {
    color: #1259c3;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-container {
    width: 70%;
    padding: 50px;
    background-color: white;
    box-shadow: 5px 10px #888888;
    margin: 20px 0px;
}

.login-container_button:hover {
    background-color: white;
  }

.login-container_button {
    background-color: #fa8074;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
    border-width: 0px;
}

.login-container_form {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

p {
    font-size: 12px;
}   

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.product-container_item {
    background-color: #fff;
    margin-bottom: 15px;
    width: 80%;
}

.product-container_info {
    border-top: 1px solid rgba(51,51,51,.1);
    color: rgb(51, 51, 51);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 16px;
    position: relative;
}

.product-container_info > h3 {
    color: #666;
    font-size: 16px;
    margin-top: 20px;
}

.product-container_info i,
.descuentos{
    color: #39b54a;
}

.product-container_info i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.product-container_item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.product-image {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    font-size: 24px;
}

.upper-header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.upper-header_buy {
    text-align: center;
    margin-right: 20px;
}

.upper-header_logo {
    padding: 10px;
    width: 20%;
    max-width: 200px;
}

.upper-header_search {
    display: flex;
    align-items: center;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.searchbar {
    font-size: 18px;
    width: 100%;
    height: 20px;
}


@media (min-width: 576px) {

    p {
        font-size: 18px;
    }   

    .product-container_item {
        width: 40%;
    }

}

@media (min-width: 768px) {

    .navbar {
        width: 95%;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .burger-menu {
        text-align: center;
        display: none;
    }

    p {
        font-size: 18px;
    }   

    .footer-item {
        width: 30%;
        text-align: center;
    }
}

@media (min-width: 992px) {

    .upper-header_logo {
        width: 20%;
        height: auto;
    }

    .product-container_item {
        width: 22%;
    }

    .login-container {
        width: 50%;
    }

    .searchbar {
        font-size: 18px;
        width: 100%;
        height: 40px;
    }
}

@media (min-width: 1200px) {

    .login-container {
        width: 30%;
    }

}

@media (min-width: 1400px) {}