<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre - Login</title>
</head>
<body>
    <header>
        <div class="upper-header">
            <!-- Banner -->
            <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" class="upper-header_logo">
            <div>
                <label for="site-search"></label>
                <input type="search" id="site-search" name="q"placeholder="Buscar productos, marcas" class="searchbar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="upper-header_buy">
                <p class="header-buy">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Compra en cuotas y sin tarjeta de credito
                </p>
            </div>
        </div>
        <!-- Navbar -->
            <nav class="navbar">
                    <p><p href='#oferta'>Ofertas</p>
                    <p>Tiendas oficiales</p>
                    <p>Vender</p>
                    <p>Ayuda</p>
                    <p>Crea tu cuenta <i class="fa-solid fa-id-card"></i></p>
                    <p><a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></p>
                    <p>Mis compras <i class="fa-solid fa-basket-shopping"></i></p>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>
<main>
    <div class="login-container">
        <h2>Log In</h2>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="user" name="user" class="login-container_form"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" class="login-container_form"><br>
            <input type="submit" value="Log In" class="login-container_button">
        </form>
    </div>
</main>
<footer>
    <section class="footer-main">
            <article class="footer-item">
                <i class="fa-solid blue-item fa-2xl fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid blue-item fa-2xl fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid blue-item fa-2xl fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
    </section>
    <section class="footer-copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</body> 
</html>