<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre - Login</title>
</head>
<body>
    <header>
        <div class="upper-header">
            <!-- Banner -->
            <a href="/" class="upper-header_logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre">
            </a>
            <div class="upper-header_search">
                <label for="site-search"></label>
                <input type="search" id="site-search" name="q"placeholder="Buscar productos, marcas" class="searchbar">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="upper-header_buy">
                <p class="header-buy">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Compra en cuotas y sin tarjeta de credito
                </p>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navbar-left">
                <p><p href='#oferta'>Ofertas</p>
                <p>Tiendas oficiales</p>
                <p>Vender</p>
                <p>Ayuda</p>
            </div>
            <div class="navbar-right">
                <p><a href="/register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></p>
                <p><a href="/login">Ingresa <i class="fa-solid fa-arrow-right-to-bracket"></i></a></p>
                <p>Mis compras <i class="fa-solid fa-basket-shopping"></i></p>
            </ul>
            </div>
        </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>
<main>
    <div class="main-container">
        <div class="login-container">
            <h2>Crea tu cuenta</h2>
            <form>
                <label for="username">Nombre</label><br>
                <input type="text" id="name1" name="name" class="login-container_form"><br>

                <label for="password">Apellido</label><br>
                <input type="text" id="name2" name="name2" class="login-container_form"><br>

                <label for="username">Username</label><br>
                <input type="text" id="username" name="username" class="login-container_form">

                <label for="date">Fecha de nacimiento</label>
                <input type="date" id="date" name="date" class="login-container_form"><br>

                <label for="address">Domicilio</label>
                <input type="text" id="address" name="address" class="login-container_form"><br>

                <label for="perfil">Perfil de usuario</label><br><br>
                <input type="radio" id="comprador" name="perfil" value="Comprador">
                <label for="comprador">Comprador</label>
                <input type="radio" id="vendedor" name="perfil" value="Vendedor">
                <label for="vendedor">Vendedor</label><br><br>

                <label for="categoria">Categorias de interes</label><br><br>
                <input type="radio" id="tecnologia" name="tecnologia" value="Tecnologia">
                <label for="comprador">Tecnologia</label><br>
                <input type="radio" id="hogar" name="hogar" value="Hogar">
                <label for="hogar">Hogar</label><br>
                <input type="radio" id="vidasana" name="vidasana" value="Vida sana">
                <label for="vidasana">Vida Sana</label><br>
                <input type="radio" id="hogar" name="electronica" value="Hogar">
                <label for="hogar">Electronica</label><br>
                <input type="radio" id="hogar" name="autos" value="Hogar">
                <label for="hogar">Vehiculos</label><br><br>

                <label for="avatar">Foto de perfil</label><br><br>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg"><br>
<br>
                <label for="pwd1">Contraseña</label>
                <input type="password" id="pwd1" name="pwd1" class="login-container_form">

                <label for="pwd1">Repetir contraseña</label>
                <input type="password" id="pwd2" name="pwd2" class="login-container_form">

                <a href="/">
                    <input type="submit" value="Guardar" class="login-container_button">
                </a>
                <input type="reset" value="Borrar" class="login-container_button">
            </form>
        </div>
    </div>
</main>
<footer>
    <section class="footer-main">
            <article class="footer-item">
                <i class="fa-solid blue-item fa-2xl fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid blue-item fa-2xl fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="footer-item">
                <i class="fa-solid blue-item fa-2xl fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </article>
    </section>
    <section class="footer-copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>
</body> 
</html>

